services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: flippin_admin
      POSTGRES_PASSWORD: flippin_secret
      POSTGRES_DB: flippin_db
    ports: ["5432:5432"]
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio_password
    ports: ["9000:9000", "9001:9001"]
